/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFF;
  color: #352525;
  font-family: 'Alegreya SC', serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Alegreya SC', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #352525;
}

h1 {
  font-size: 46px;
  font-weight: 700;
}

h2 {
  background: url('../images/flourish.png') top center no-repeat;
  border-bottom: 2px dashed;
  font-size: 36px;
  font-weight: 700;
  margin: 20px auto;
  padding-top: 20px;
  text-align: center;
}

h3, h5 {
  font-weight: 700;
}

a {
  color: #b1f3a9;
}

a:visited {
  color: #96c091;
}

a:hover {
  color: #d1f4cd;
}

p {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 5px 20px 5px;
}

em {
  font-weight: 700;
}

em.isolate {
  display: block;
  font-size: 56px;
  line-height: 60px;
  margin-top: -10px;
}

label {
  display: inline-block;
  font-size: 18px;
}

blockquote {
  background: #e4e4dc;
  border: 0;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}

blockquote h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

blockquote .nipple{
  border-top: 16px solid #e4e4dc;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  height: 0px;
  position: absolute;
  bottom: -16px;
  right: 20px;
  width: 0px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
  background-color: #e4e4dc;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  background-color: #FFF;
  border: 1px solid #b1f3a9;
}

input[type="radio"]:focus {
  
}

.block {
  background-color: #352525;
  background-color: rgba(53,36,35, .9);
  color: #e4e4dc;
  border: 2px dashed #bda291;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
  text-shadow: #000 1px 1px;
}

.block h1, .block h2, .block h3, .block h4, .block h5, .block h6 {
  color: #e4e4dc;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  font-family: 'Alegreya SC', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #759271;
	background: #b1f3a9; /* Old browsers */
	background: #b1f3a9 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #b1f3a9 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #b1f3a9 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #b1f3a9 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #b1f3a9 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #b1f3a9 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background: #d1f4cd; /* Old browsers */
	background: #d1f4cd -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #d1f4cd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #d1f4cd -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #d1f4cd -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #d1f4cd -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #d1f4cd linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
}

/* #Page Styles
================================================== */

#header {
  background: #3d372a url('../images/background.png') top left repeat;
  border-bottom: 1px solid #fff;
  position: fixed;
  height: 54px;
  padding: 4px 0px;
  width: 100%;
  z-index: 2;
}

#header .logo {
  float: left;
}

#nav {
  max-width: 900px;
  margin: 0px auto;
  padding: 0px 20px;
}

#nav ul {
  text-align: right;
}

#nav ul li {
  display: inline-block;
  line-height: 54px;
  margin-left: 30px;
}

#nav ul li a {
  border-bottom: 1px solid #FFF;
  color: #e2d1ab;
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}

#nav ul li a:hover {
  border-bottom: 1px solid #b1f3a9;
  color: #FFF;
}

#details {
  background-color: #e4e4dc;
  background-image: url('../images/main.jpg');
  background-position: 33% 100%;
  background-repeat: no-repeat;
  font-weight: 700;
  text-align: center;
  text-shadow: #e2d1ab 1px 1px;
}

#details .container {
  background-image: url('../images/big_flourish_top.png');
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding-top: 38px;
}

#details h1 {
  background-image: url('../images/big_flourish_bottom.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 48px;
}

#details h1 em {
  font-size: 100%;
  font-style: normal;
}

#details .names {
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 10px 0px;
}

#details .date {
  border-top: 2px dashed #000;
  border-bottom: 2px dashed #000;
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin: 10px;
}

#about {
  background-color: #48434b;
  background-image: url('../images/door.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
}

#location {
  background-color: #c5d3bb;
  background-image: url('../images/ponte.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
}

#location #wedding-info {
  background-image: url('../images/brideandgroom.png');
  background-position: top right;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  font-size: 120%;
}

#location #wedding-info .block {
  padding-right: 240px;
}

#location #main-address {
  background-color: rgba(0,0,0,.8);
  border: 1px solid #FFF;
  color: #FFF;
}

#location h4 {
  font-size: 26px;
  font-weight: 700;
}

#location h5 {
  margin-top: 10px;
}

#location #accomodations li {
  margin-bottom: 20px;
}

#location #accomodations li ul {
  margin-left: 0px;
}

#location #accomodations li ul li {
  margin-bottom: 5px;
}

#location #accomodations .block {
  background-image: url('../images/box_flourish.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: 240px;
  overflow: hidden;
}

#location address {
  font-size: 18px;
  line-height: 18px;
}

#location a {
  display: block;
  font-weight: 700;
}

#rsvp {
  background-color: #000;
  background-image: url('../images/kiss.jpg');
  background-position: bottom left;
  background-repeat: no-repeat;
  color: #e4e4dc;
}

#rsvp h2, #rsvp h5 {
  color: #FFF;
}

#rsvp input[type="text"], #rsvp textarea {
  width: 96%;
  max-width: 96%;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
}

#rsvp h2, #rsvp h5, #rsvp label {
  text-shadow: 1px 1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=1);
}

#rsvp .radio-options {
  display: block;
  margin-bottom: 20px;
}

#date .announcement {
  font-size: 36px;
  display: block;
}

#gifts {
  background-color: #000;
  background-image: url('../images/curvy_tile.jpg');
  background-position: top center;
  background-repeat: repeat;
  text-align: center;
}

#gifts img {
  background-color: #352525;
  background-color: rgba(53,36,35, .9);
  display: block;
  margin: 0px 5%;
  padding: 5%;
  max-width: 300px;
  width: 80%;
}

#gifts a.button {
  border-top: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}

.panel {
  background-attachment: fixed;
  background-position-y: 55px;
  border-bottom: 1px solid #FFF;
  min-height: 80%;
  padding: 63px 0px 63px;
  width: 100%;
  
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 1);
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
    #header {
      height: auto;
      padding: 4px 0px 0px 0px;
      width: 100%;
      z-index: 2;
    }
	  #header .logo {
	    display: block;
	    margin: 4px auto;
	    float: none;
	  }
	  #nav {
	   margin: 0px;
	   padding: 0px;
	  }
	  #nav ul {
	    margin-bottom: 0px;
	  }
    #nav ul li {
      margin: 0px;
      border-top: 1px solid #FFF;
      width: 50%;
      float: left;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }

    #nav ul li a {
      display: block;
      border-bottom: none;
    }

    #nav ul li a:hover {
      border-bottom: none;
    }
    
    #details {
      background-image: url('../images/main_mobile.jpg');
    }
    
    #location #wedding-info .block {
      padding-right: 10px;
    }
    
    .panel {
      padding-top: 140px;
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/